.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: #fff;
    padding: 93px 50px;
}

.header_menu {
    display: flex;
}

.header__links-list {
    display: flex;
    gap:26px;
    list-style-type: circle;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
}


.header__links-list-item_no-bullit {
    list-style-type: none;
    font-size: 18px;
}

.header__link {
    text-decoration: none;
}

.header__logo {
    display: block;
    align-items: center;
    width: 138px;
    height: 105px;
}

.header__logo-image {
    max-width: 100%;
}

.address {
    padding-left: 190px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.18px;
    list-style-type: none; 
    font-style: normal;
}

.content {
    background-color: #fff;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    color: white;
    text-transform: uppercase;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100%;
  }

.overlay {
    position:absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

.cover_title {
    display: flex;
    flex-direction: column;
    padding:165px 20px 55px 50px;
    gap:20px;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
  }

.aligned-text {
    line-height: 115%;
    letter-spacing:30px;
    text-transform: uppercase;
    color: #fff;
    text-align: start; 
  }

.aligned-text_center {
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.aligned-text_right {
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}

.cover__desctiption {
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 79px;
    padding:50px 35px 50px 30px;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    word-spacing: 18px;
    line-height: 28px;
}

.bet-button {
    width: 257px;
    height: 51px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    line-height: 51px;
    font-weight: 500;
    text-align: center;
    margin-left: 10px;
}

.lots {
    padding: 180px 24px 2px 24px;
}

.title__lots {
    padding-left: 40px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.cards {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.lots__card-list-item {
    display: flex;
    max-width: 334px;
}

.card{
    position: relative;
    z-index: 1;
    padding:49px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card-size {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film  {
    background-image: url(./../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(./../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(./../images/card-lot-03.jpg);
}

.card__title-all {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.card__text-all {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.lots__look-more-link {
    display: block;
    padding:30px;
    margin-left: 11px;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.about {
    margin-top: 120px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px auto;
    padding: 4px 0px 0px 10px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-left: 64px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 60px;
    margin: 42px;   
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding-top: 75px;
}

.about__text-too {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000;    
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
    padding-top: 140px;
}

.footer__address {
    list-style-type: none; 
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px; 
    line-height: 24px;
    color: #000;
    padding-left:50px;
}

.footer__menu {
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
}

.footer__menu-list {
    padding-left: 3px;
}

.footer__menu-list-item {
    list-style-type: none; 
    font-style: normal;
    text-decoration: none;
}

.footer__social-list-item {
    display:flex;
    gap:48px;
    padding-left:75px ;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}